
/scripts/__pycache__

# Virtual environment
/env

# Files with sensitive information
/scripts/config.py
/project/djangoapp/credentials.py

# Own personal notes
/docs/notes.md

# Files
*.Db*
*.pkl*
*.txt*
*.csv*
*.sqlite3
/test.json
