
__pycache__/

# Virtual environment
/geoguessr-elo

# Files with sensitive information
/scripts/config.py
/project/djangoapp/credentials.py

# Own personal notes
/docs/notes.md

# Django files
/project/project
/project/manage.py

# Files
*.Db*
*.pkl*
*.txt*
*.csv*
*.sqlite3
/test.json

# Bootstrap
/project/homeapp/static/homeapp/css
/project/homeapp/static/homeapp/js
/project/homeapp/static/homeapp/theme
