
/scripts/__pycache__

# Virtual environment
/geoguessr-elo

# Files with sensitive information
/scripts/config.py
/project/djangoapp/credentials.py

# Own personal notes
/docs/notes.md

/project/project

# Files
*.Db*
*.pkl*
*.txt*
*.csv*
*.sqlite3
/test.json

# Modules
/project/frontend/node_modules